html
  head
    title= title
    style
      include style.css
  body
    h1= message
    table#customers
      thead
        th= "IDEALANVÄNDARE"
        th= "PERSONNUMMER"
        th= "KURSTILLFÄLLE"
        th= "PROVKOD"
        th= "DATUM"
        th= "BETYG"
      each val in grades
        form(method='POST' action='/grade')
          tr#customers
            td#customers= val.idealId
            td#customers= val.personId
            td#customers= val.occasionId
            td#customers= val.examId
            td#customers= val.date
            td#customers= val.grade
                  
    footer#footer
      form(method='POST' action='/new-grade')
        input(type='text' placeholder='Ideal' name='idealId')
        input(type='text' placeholder='Kurskod' name='courseId')
        input(type='text' placeholder='Termin' name='semester')
        input(type='text' placeholder='Provnummer' name='examId')
        input(type='text' placeholder='Datum' name='date')
        input(type='text' placeholder='Betyg' name='grade')
        button(type='submit') Submit
        
    
