html
  head
    title= title
    style
      include style.css
  body
    h1= message
    table#customers
      thead
        th= "Namn"
        th= "Kurs"
        th= "Examination"
        th= "Betyg"
      each val in grades
        tr#customers
          td#customers= val.personId
          td#customers= val.course
          td#customers= val.examId
          td#customers= val.grade
    